<div class="container-fluid">
    <div class="row mt-5 " style="margin-left: 80px;">
        <div class="col-12">
            <h1> Contact</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, quo iusto consequatur, quod doloremque quis voluptatibus enim unde inventore facilis quibusdam aut  <br> natus
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, quod ipsam sint reprehenderit molestiae nemo nobis nam exercitationem placeat commodi cupiditate cum? Nihil quasi recusandae voluptas vero consequatur voluptate iusto? </p>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div class="last-box">
                <fieldset>

                    <div class="final-1">
                        <label for="mail">Your E-mail</label>
                        <input type="text" id="mail" name="mail">
                    </div>

                    <div class="final-2 mt-4">
                        <label for="textazo">Your Message</label>
                        <textarea id="textazo" rows="4" style="width: 665px; margin-left: 104px;"></textarea>

                    </div>   
                </fieldset>

                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
