<div class="container-fluid">

    <div class="row">

        <div class="col-8 text-center mt-5">

            <h1> This First Heading <span style="color: grey;">Will Catch Your Eye</span>  </h1>
            <p class="first-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa modi cum perspiciatis reprehenderit
                sunt excepturi, pariatur dolore optio quod totam vel quisquam saepe consequuntur voluptates facere!
                Asperiores hic eveniet tempora Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae pariatur sapiente 
                qui voluptas. Eaque cum eligendi ab tenetur? Ten
            </p>

        </div>

        <div class="col-4">

            <div class="first-img">
            <!-- No me funciona el link del tag img! pero Vs Code Local Si -->
                <span></span>                
            </div>

            
        </div>

    </div>

</div>