<div class="container-fluid mt-5 ms-5 text-start">
    <div class="row">
        <div class="col-12 ms-5 mt-5">
            <h1>Portfolio</h1>
        </div>
        <div class="col-12 ms-5">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quia aperiam omnis placeat atque porro eveniet. Corrupti iste ea, hic doloremque ipsum qui nulla <br> possimus explicabo eaque totam, nisi mollitia?</p>
        </div>
    </div>

    <div class="row mt-5 text-center d-flex justify-content-around"style="margin-left: 53px;">
        <div class="col-3 bg-secondary"style="margin-left: -120px;"><h1>700x400</h1></div>
        <div class="col-3 bg-secondary"style="margin-left: -120px;"><h1>700x400</h1></div>
        <div class="col-3 bg-secondary"style="margin-left: -135px;"><h1>700x400</h1></div>


    </div>


    <div class="row d-flex text-jutify justify-content-around" style="margin-left: -25px;">
        <div class="col-3 ">

            <div style="margin-left: 0; margin-top: 40px;">
                <h1>Project Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ut minima, molestias corporis reprehenderit. </p>
            </div>
            
        </div>
        <div class="col-3">
            <div style="margin-left: -25px; margin-top: 40px;">
                <h1>Project Name</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ut minima, molestias corporis reprehenderit. </p>

            </div>
            
        </div>
        <div class="col-3" >
            <div style="margin-left: -44px; margin-top: 40px;">
                <h1>Project Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quod porro ipsum nesciunt minus quo.</p>
            </div>
            
        </div>


    </div>
</div>