<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3">
            <div class="second-img p-0">
                <span></span>
            </div>
        </div>

        <div class="col-9">
            <h1> The Second Heading Is Pretty Cool Too.</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium a rerum
                exercitationem et inventore similique totam accusamus
                impedit nesciunt odio quasi voluptates ipsum perspiciatis,
                facere porro reprehenderit ex minus atque 
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo corrupti quisquam totam! Sunt porro quidem itaque ad nulla ipsam molestiae. Odio voluptates rem culpa pariatur quod asperiores dicta, obcaecati ipsam..</p>
        </div>
    </div>
</div>